*{
    margin: 0;
    font-family: Verdana;
    box-sizing: border-box;
}
body{
    background-color: #EEEEEE;
}
.navbar{
    height: 80px;
    background-color: #4D455D;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    color: white;
}
.nav-dropdown{
    float: left;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 15px;
}
.nav-dropdown .dropdown{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    width: 450px;
    height: 40px ;
    text-align: left;
    border: none;
    outline: none;
    color: #064ACB;
    background-color: #FCFAFA;
}
.dropdown{
    padding-top: 9px;
}
.search-icon{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #064ACB;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}
.dropdown-content a{
    float: none;
    color: black;
    width: 417px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #E8F1F5;
  }
.nav-dropdown:hover .dropdown-content{
    display: block;
}
.nav-dropdown:hover{
    border: 2px solid #064ACB;
}
.comman_style{
    border: 1px solid white;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.nav-offers.comman_style:hover,
.nav-home.comman_style:hover,
.nav-aboutus.comman_style:hover,
.nav-contact.comman_style:hover,
.nav-login.comman_style:hover {
    background-color: #FFF6F6;
}
.nav-offers a,
.nav-home a,
.nav-aboutus a,
.nav-contact a,
.nav-login a{
    text-decoration: none;
    color: #FCFAFA;
    font-size: 1rem;
}
.nav-offers a:hover,
.nav-home a:hover,
.nav-aboutus a:hover,
.nav-contact a:hover,
.nav-login a:hover{
    color: black;
}

.hero-panel{
    position:relative;
    width: 100%;
    height: 630px;
    overflow: hidden;
}
.image-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
.image-container img {
    width: calc(25% - 0px);
    object-fit: cover;
}
.hero-content{
    position: absolute;
    bottom: 90px;
    left: 20px;
    color: white;
    font-size: 24px;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: -81px;
}
.main-display{
    /* background-image: url('display_bg.jpg');
    background-size: cover; */
    background-color: #EEEEEE;
}
.display-heads{
    text-align: center;
    padding-top: 30px;
    color: #525CEB;
    font-size: 30px;
    font-family:'Lucida Sans';
    font-weight: 700;
}
.display-panel{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: #ECF2FF; */
}
.box{
    height: 360px;
    width: 23%;
    border: 2px black solid; 
    background-color: #FFF6F6;
    border-radius: 15px;
    border: none;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-img{
    height: 242px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content h3{
    height: 20px;
}
.promise_content{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    height: 390px;
    padding-top: 30px;
    padding-left: 20px;
}
.img{
    /* border: 1px solid black; */
    background-size: cover;
    background-position: center;
    width: 160px;
    height: 160px;
    margin-left: 60px;
}
.text{
    /* border: 1px solid black; */
    width: 300px;
    height: 145px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    text-align: justify;
    line-height: 1.5;
    font-size: 0.9rem;
    color: #45474B;
}
.heads{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: "Lucida Sans";
    color: #0C356A;
}
footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #31363F;
    color: white;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
    line-height: 1.5;
}
.foot-panel1 ul p{
    font-weight: 1000;
}
.foot-panel1 ul a{
    display: block;
    font-size: 0.9rem;
    margin: 10px;
    color: #dddddd;
}
.icon-style {
    display: inline-block;
}
.icon-style i{
    font-size: 25px;
}
.foot-panel2{
    background-color: #222831;
    height: 80px;
    color: white;
    font-size: 15px;
    text-align: center;
}
.foot-panel2 p{
    padding-top: 30px;
}
